@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-surface-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-surface text-white font-sans antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-border rounded-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
